.buttonPrimary {
  font-family: inherit;
  outline: none;
  padding: 4px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #fa8a5b;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.isDark {
  background-color: #727597;
}
.buttonPrimary:focus,
.buttonPrimary:hover {
  background-color: #f5eae7;
  border-color: #fa8a5b;
  color: #fa8a5b;
}
